header {
    background-color: #3C51B6 !important;
}
.logo {
    color: #fff !important;
}
.logo > svg {
    margin: 0px !important;
}
.logo:hover {
    background-color: #AFBDE4 !important;
}
.nav-menu {
    color: #fff !important;
    border: 3px solid #3C51B6 !important;
    border-radius: 10px !important;
    margin: 0px !important;
}
.nav-menu:hover {
    background-color: #AFBDE4 !important;
    color: #000000 !important;
}

.nav-active {
    background-color: #BDD7EE !important;
    color: #000 !important;
    border-color: #FFF !important;
}
